@use "./vars";

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  background-color: vars.$bg-main;
  font-family: vars.$font-Druk;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}