@use "./vars";

html {
  background-color: vars.$bg-main;
  font-family: vars.$font-CommissionerBold;
}

body {
  margin: 0;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}