// Color
$bg-main: #ECECEC;
$color-white: #fff;
$color-black: #202020;
$color-orange: #F36722;
$color-green: #2E8D43;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-grey: #C4C4C4;
$color-grey-bg: #EFEFEF;

// Fonts
$font-CommissionerBold: 'Commissioner-Bold';
$font-CommissionerRegular: 'Commissioner-Regular';
$font-Druk: 'Druk';